/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background */
body 
{
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* -----------------------------------*/
/* ---------->>> HEADER and NAVBAR <<<-----------*/
/* -----------------------------------*/

/* Navbar */
nav {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent !important;
  padding: 1em;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 3;
}

nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff;
}


.statitics span
{
  color:white;
}

.statitics h1
{
  color:white;
  text-align: center;
}

.statitics ul{
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  margin-bottom: 80px;
}

.statitics ul li {
  align-content: space-around;
  line-height: 50px;
  text-align: center;
  color: white;
}


.statitics ul li hr{
  box-sizing: border-box;
  margin-top: 2em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  width: 50%;
}

hr
{
  width: 90%;
  border: 0;
  border-bottom: 5px solid #ccc;
  margin: 20px auto;
}

/*Logo*/
.logo
{
  width: 80px;
}

input[type="checkbox"] {
  appearance: none;
}

label {
  display: none;
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

nav ul a 
{
  padding: 0.5em;
  transition: color 0.5s ease;
  font-weight: bold;
}

nav ul a:hover 
{
  color:darkorange;
}

.active 
{
  opacity: 0.5;
  color:#fff !important;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("/images/Placeholder2.jpeg");
  background-position: 50% 0%;
  height: 550px !important;
  background-size: cover;
  background-repeat: no-repeat;
}

/*Analysis table*/
section h1{
  font-size: 3em;
}
section{
  font-weight: bolder;
  font-size: large;
  text-align: center;
  color: black;
}



#countdown1,
#countdown2,
#countdown3,
#countdown4 {
  animation: counter-hover 0.5s alternate ease-in-out;
  counter-reset: num var(--num);
  font: 800 5rem system-ui;
  padding: 1rem;
  color: white;
}


#countdown1::before,
#countdown2::before,
#countdown3::before,
#countdown4::before{
  content: counter(num);
}

#countdown1 { --num: 52; }
#countdown2 { --num: 120; }
#countdown3 { --num: 8256; }
#countdown4 { --num: 100; }



@keyframes counter-hover {
  from {
    --num: 60; 
  }
  to {
    --num: 90000;
  }
}


/* Change color icon */
.material-symbols-outlined{
color: black;
}

/* content - why choose us */
/* Base Styles */
a, a:hover, a:focus, a:active {
text-decoration: none; 
}

span, a { 
display: inline-block;
color: inherit; 
} 

/* Section Styles */
.section-head { 
margin-bottom: 60px; 
}

.section-head h2 {
position: relative;
line-height: 2;
letter-spacing: 0.5px;
font-size: 35px;
text-align: center;
margin-bottom: 30px;
}

.section-head h2::before {
content: '';
width: 100px;
height: 5px;
background: #86d2ff;
position: absolute;
bottom: -12px;
left: 50%;
transform: translateX(-50%); 
}



/* Feature Styles */
#big_box {
margin: 30px;
padding: 20px;
border: 5px solid gray;
border-radius: 20px;
}

#big_box_text{
text-align: center;
font-size: 17px;
}

.item {
background: white;
text-align: center;
padding: 30px 25px;
box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
border-radius: 20px;
border: 5px solid gainsboro;
margin-bottom: 30px;
transition: all 0.5s ease; 
}

.item:hover {
background: #a6def3;
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}


.item .icon {
font-size: 40px;
margin-bottom: 25px;
color: #000000; 
width: 90px;
height: 90px;
line-height: 96px;
border-radius: 50%;
}

/* Color variations - streamlined */
.feature_box_col_one { background: rgba(25, 15, 80, 0.2);} 
.feature_box_col_two { background:rgba(25, 15, 80, 0.2);} 
.feature_box_col_three { background:rgba(25, 15, 80, 0.2);} 
.feature_box_col_four { background:rgba(25, 15, 80, 0.2);} 
.feature_box_col_five { background:rgba(25, 15, 80, 0.2);} 
.feature_box_col_six { background:rgba(25, 15, 80, 0.2);} 


/* Remaining Styles */ 
.item p { font-size: 15px; line-height: 26px;}





/* -----------------------------------*/
/* ---------->>> FOOTER <<<-----------*/
/* -----------------------------------*/

footer 
{
  width: 100%;
  background: linear-gradient(to left, #2c8eec,#395b64);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
  position: absolute;
  bottom: unset;
  z-index: 0; 
}

/*footer row*/
.row
{
  width: 90%;
  margin: auto;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/*footer-column*/
.col
{
  flex-basis: 25%;
  padding: 10px
}

.col:nth-child(2), .col:nth-child(3)
{
  flex-basis: 15%;
}

/*footer-headers*/
.col h3
{ 
  width: fit-content;
  margin-bottom: 25px;
  position: relative
}

.col h4 {
 margin-bottom: 10px;  /* spacing each mail contact */
}

/*footer-email*/
#email-id
{
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0px 10px 0px;
}

/*footer-nav*/
.col ul
{
  display: block;
}

.col ul li
{  
  list-style: none;
  margin-bottom: 12px;
}

.col ul li a
{
  text-decoration: none;
  color: #fff;
}

/*footer-news*/
#footer-form
{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

#footer-form .fa-envelope
{
  font-size: 18px;
  margin-right: 10px;
}

#footer-form input 
{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

#footer-form button
{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

#footer-form button .fa-newspaper
{
  font-size: 16px;
  color: #ccc;
}

.social-icons .fa-brands 
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}



.copyright 
{
  text-align: center;
}

.copyright a
{
  text-decoration: none;
  color: #fff;
}

/*form animations*/
.underline
{
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underline span 
{
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving 
{
  0%
  {
    left: -20px;
  }
  100%
  {
    left: 100%;
  }
}

    
/* -----------------------------------*/
/* ---------->>>Jobs showing<<<-----------*/
/* -----------------------------------*/
.jobs-list-container
{
  max-width: 900px;
  margin: 20px auto;
  font-family: "Rubik", sans-serif;
}

.jobs-list-container h2
{
  font-size: 30px;
  border-left: 4px solid #023047;
  padding-left: 20px;
  margin-bottom: 15px;
  margin-top: 30px;
}

/*grid view, gap and shadow for the job containers*/
.jobs-list-container .jobs-container
{
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.jobs-list-container .jobs-container img
{
  width: 60px;
}

.jobs-list-container .job
{
  box-shadow: 0 4px 24px -7px rgba(2, 48, 71, 0.5);
  padding: 25px;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 400ms ease;
} 

.jobs-list-container .job:hover 
{
  transform: scale(1.03);
}

.jobs-list-container .open-postion
{
  position: absolute;
  top: 40px;
  right: 20px;
  color: red;
}

.jobs-list-container .job-title
{
  font-size: 20px;
  padding: 10px 0;
  margin: 0;
  color: darkgreen;
}

.jobs-list-container .details
{
  margin-top:6px;
  font-size: 14px;
  color:#395b64;
  line-height: 1.8;
}

.jobs-list-container .Apply-btn
{
  text-decoration: none;
  border: 1px solid blue;
  color: black;
  flex: 1;
  padding: 8px 16px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 5px;
  transition: all 400ms ease;
}

.jobs-list-container .Apply-btn
{
  margin-top: 20px;
}

.jobs-list-container .Apply-btn:hover
{
  background: darkblue;
  color: white;
}

/* -----------------------------------*/
/* ---------->>>Jobs Applying<<<-----------*/
/* -----------------------------------*/

/*Personal Information */
/*style header and font for web*/
.job-applying-container {
  font-family: "Rubik", sans-serif;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#applyh1{
  font-family: "Rubik", sans-serif;
  padding: 10px;
  text-align: center;
  font-size: 60px;
  color: white;
  margin-bottom: 200px;
}

.applying-basic-info h2 {
  text-align: left;
  font-size: 20px;
}

.applying-basic-info label {
  margin-top: 1em;
  margin-bottom: 0.4em;
  display: block;
  float: left;
  font-size: 15px;
  cursor: default;
}

.applying-basic-info label::before {
  content: "* ";
  color: red;
}

.applying-basic-info input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  height: 25px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 0.3em;
  text-indent: 0.3em;

}

hr {
  width: 100%;
  height: 0.1px;
  background-color: #bdbbbb;
  border: none;
  margin-top: 2px;
}

#asterisk {
  text-align: left;
  font-size: 12px;
}

#asterisk::before {
  content: "* ";
  color: #ff0000;
}

/*First Name and Last Name division */
.name-container {
  display: flex;
}

.name-container div {
  display: block;
  flex-direction: column;
  columns: 600px;
  align-items: flex-start;
  margin-right: 20px;
}

.name-container #last_name {
  margin-left: 20px;
}

.name-container label {
  margin-bottom: 5px;
}

.name-container input {
  width: 100%;
  margin-bottom: 10px;
}

/* DOB Edit */
input[type="date"]
{
  font-family: "Rubik", sans-serif;
  font-size: 15px;
}

/* Gender Chosen Customzie */
fieldset {
  display: block;
  text-align: left;
  margin-top: 20px;
  border: 2px groove (internal value);
  width: 10em;
  font-size: 20px;
  border-radius: 0.3em;
}

.gender legend::before {
  content: "* ";
  color: red;
}

.gender .container::before {
  content: none;
}

.gender .container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  margin-top: 5px;
  cursor: pointer;
  user-select: none;
}

.gender .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.gender .checkmark {
  display: absolute;
  position: absolute;
  top: 0;
  left: 10px;
  height: 20px;
  width: 20px;
  border-radius: 0.3em;
  background-color: #8b9199;
  transition: background-color 0.3s;
}

#blank
{
  height: 5px;
  margin-bottom: 0;
  visibility: hidden;
}
/* State customize */
#statecuztomize
{
  position: relative;
  margin-top: 21px;
}
select { 
  position: relative;
  float: right;
  margin-top: 5px;
  top: 15px;
  width: 100%;
}

/*Skill lists*/

.skill_list h2::before {
  content: "* ";
  color: red;
}

.skill_list h2 {
  margin-top: 20px;
  font-size: 20px;
}

.skill_list label::before {
  content: none;
}

.skill_list .container {
  
  position: relative;
  margin-bottom: 0.5em;
  
  cursor: pointer;
  user-select: none;
  width: 100%;
  text-align: left;
}


.skill_list .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.skill_list .checkmark {
  position: relative;
  float: right;
  top: 0;
  height: 20px;
  margin-left: 20px;
  width: 20px;
  border-radius: 0.3em;
  background-color: #8b9199;
  transition: background-color 0.3s;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;

}

.container input:checked~.checkmark:after {
  display: block;
}
.container .checkmark:after {
  content: "\2713";
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input:checked +.checkmark
{
  background-color: #007bff;
}
.job-applying-container textarea::placeholder {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.job-applying-container textarea {
  padding: 5px;
  text-indent: 9px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.upload-cv label {
  position: relative;
  font-size: 18px;
  width: 100%;
  margin-top: 20px;
}
.upload-cv label::before
{
  content: none;
}
.upload-cv :hover {
  cursor: pointer;
}
input[type=file] {
  font-size: 15px;
  height: 40px;
  position: relative;
  margin-top: 10px;
  width: 100%;
}

#apply {
  position: relative;
  font-size: 20px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  height: 40px;
  cursor: pointer;

}

#apply:hover {
  background-color: #508ce6;
}


/* -----------------------------------*/
/* ---------->>> FOOTER <<<-----------*/
/* -----------------------------------*/

footer {
  width: 100%;
  background: linear-gradient(to left, #2c8eec, #395b64);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
  position: absolute;
  bottom: unset;
  z-index: 0;
}

/*footer row*/
.row {
  width: 85%;
  margin: auto;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/*footer-column*/
.col {
  flex-basis: 25%;
  padding: 10px
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

/*footer-headers*/
.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative
}

/*footer-email*/
#email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

/*footer-nav*/
.col ul {
  display: block;
}

.col ul li {
  list-style: none;
  margin-bottom: 12px;
}

.col ul li a {
  text-decoration: none;
  color: #fff;
}

/*footer-news*/
#footer-form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

#footer-form .fa-envelope {
  font-size: 18px;
  margin-right: 10px;
}

#footer-form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

#footer-form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

#footer-form button .fa-newspaper {
  font-size: 16px;
  color: #ccc;
}

.social-icons .fa-brands {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
}

.copyright a {
  text-decoration: none;
  color: #fff;
}

/*form animations*/
.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }

  100% {
    left: 100%;
  }
}


/* -----------------------------------*/
/* ---------->>> FOOTER <<<-----------*/
/* -----------------------------------*/

footer {
  width: 100%;
  background: linear-gradient(to left, #2c8eec, #395b64);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
  position: absolute;
  bottom: unset;
  z-index: 0;
}

/*footer row*/
.row {
  width: 85%;
  margin: auto;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/*footer-column*/
.col {
  flex-basis: 25%;
  padding: 10px
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

/*footer-headers*/
.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative
}

/*footer-email*/
#email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

/*footer-nav*/
.col ul {
  display: block;
}

.col ul li {
  list-style: none;
  margin-bottom: 12px;
}

.col ul li a {
  text-decoration: none;
  color: #fff;
}

/*footer-news*/
#footer-form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

#footer-form .fa-envelope {
  font-size: 18px;
  margin-right: 10px;
}

#footer-form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

#footer-form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

#footer-form button .fa-newspaper {
  font-size: 16px;
  color: #ccc;
}

.social-icons .fa-brands {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
}

.copyright a {
  text-decoration: none;
  color: #fff;
}

/*form animations*/
.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }

  100% {
    left: 100%;
  }
}

/* -----------------------------------*/
/* ---------->>> RESPONSIVE <<<-----------*/
/* -----------------------------------*/
@media screen and (max-width: 667px) {
  /*Navigation*/
  label {
    display: block;
  }

#nav_bar{     /* conflict error with ul in navigation bar */ /* => change the id of ul in nav_bar*/
    font-size: 1.2em;
    position: absolute;
    left: -100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    gap: 2em;
    top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    transition: 0.5s;
    z-index: 1; /* Set z-index to 1 */
  }

  input[type="checkbox"]:checked ~ #nav_bar { 
    left: 0;
  }

  /*footer*/
  footer
  {
    bottom: unset;
    z-index: 0;
  }

  .col
  {
    flex-basis: 100%;
  }
  
  .col:nth-child(2), .col:nth-child(3)
  {
    flex-basis: 100%;
  }


}


@media screen and (max-width: 684px) {


  .banner{
    height: 910px !important;
  }


  .statitics ul{
    display: block;
    flex-wrap: wrap;
    margin-bottom: 0;
    /* padding: 60px; */

}


#countdown1,
#countdown2,
#countdown3,
#countdown4 
{
  font-size: 3em;
}

  /* why choose us */
  .section-head h2{
    font-size: 25px; 
  }
}

/*Job applying responsive*/
@media screen and (max-width: 768px) {
  .job-applying-container {
    max-width: 500px;
    box-sizing: border-box;
    overflow-x: auto;
  }
}
@media screen and (max-width: 500px) {
  .name-container
  {
    display: block;
  }
  .name-container div
  {
    margin-right: 0px;
  }
  .name-container #last_name{
    position: relative;
    margin-left: 0px;
  }
  .name-container input{
    display: block;
    width: 100%;
  }
  #applyh1
 {
  font-size: 240%;
  margin-top: 100px;
 }
}
@media screen and (max-width: 375px) {
  #applyh1
 {
  font-size: 210%;
 }
 input[type="file"]
 {
  font-size: 70%;
 }
}
@media screen and (max-width: 320px) {
  #applyh1
 {
  font-size: 180%;
 }
 .job-applying-container .applying-basic-info h2
 {
  font-size: 90%;
 }
 }



