
/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*Background*/
body 
{
    height: 100vh;
    background-color: #000;
    background-image: url(https://external-preview.redd.it/made-this-stupid-frieren-edit-some-weeks-ago-lol-frieren-at-v0-b2Rxd2FqaHZ0dGJjMSoASihcdX46_JamMdstPwe1v3Y8wfFJN2Ybwaqp8pIP.png?format=pjpg&auto=webp&s=5f7b24934578351ade3ecb1530eb2223b99bf2e5);
    background-size: cover;
    background-position: center;
}

/* -----------------------------------*/
/* ---------->>> HEADER and NAVBAR <<<-----------*/
/* -----------------------------------*/

/*Navbar*/
li
{
    list-style: none;
}

nav a, .menu-dropdown a
{
    text-decoration: none;
    color:#fff;
    font-size: 1rem;
}

nav a:hover, .menu-dropdown a:hover
{
    color: orange;
}

/*Header*/
header
{
    position:relative;
    padding:0 2rem;
}

nav
{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a
{
    font-size: 1.5rem;
    font-weight: bold;
}

nav .nav-tabs
{
    display: flex;
    gap: 2rem;
}

/*Toggle button*/
nav .toggle-btn
{
    background: none;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*Get-started (or any Action button)*/
.action-btn
{
    background-color: orange;
    color:#fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight:bold;
    font-size: 0.8rem;
    cursor: pointer;
}

.action-btn:hover
{
    scale: 1.05;
    color: #fff;
}

/*Dropdown Menu*/
.menu-dropdown
{
    position:absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-dropdown li
{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-dropdown .action-btn
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-dropdown.open
{
    height: 270px;
}
/*Responsive Design*/
@media (max-width: 992px) 
{
    nav .nav-tabs,
    nav .action-btn
    {
        display:none;
    }

    nav .toggle-btn
    {
        display: block;
    }

    nav .toggle-btn:hover
    {
        color: rgb(52, 173, 173);
    }
}